body {
  background: url(../img/background.jpg);
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;  */
}

header{
  color: #b4c7c9;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1{
  margin: auto;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
}

li{
  list-style-type: none;
}

a{
  color:#b4c7c9;
  /* color: #7AF07B; */

}

a:link{
  text-decoration: none; 
}

h2{
  color: #b4c7c9;
  text-align: center; 
}

img{
  width: 35vw;
  height: 70vh;
  border: 3px;
  border-style: ridge; 
}

#top-figure{
  display: flex;
  justify-content: space-evenly;
  /* width: min-content; */
}

#bottom-figure{
  display: flex;
  justify-content: space-evenly;
  /* width: min-content; */
}

 figure {
  width: min-content;
}

details{
  color: #b4c7c9;
  text-align: center;

}
footer{
  text-align: center;
  color: #b4c7c9;
}

