body {
  background: url(../img/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover; 
  margin 50px;
}

header{
  color: #b4c7c9;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1{
  margin: auto;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
}

li{
  list-style-type: none;
}

a{
  color:#b4c7c9;
}

a:link{
  text-decoration: none; 
}

h2{
  color: #b4c7c9;
  text-align: center; 
}

img{
  width: 35vw;
  height: 70vh;
  border: 3px;
  border-style: ridge; 
}

#top-figure{
  display: flex;
  justify-content: space-evenly;
}

#bottom-figure{
  display: flex;
  justify-content: space-evenly;
}

 figure {
  width: min-content;
}

details{
  color: #b4c7c9;
  text-align: center;
}

p{
  border: solid #b4c7c9;
  background-color: rgb(24, 31, 39, .8);
}


footer{
  color: #b4c7c9;
  position: relative;
  bottom: 0;
}

