body {
  background: url(../img/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover; 
}

/* figure{
  display: flex;
  height: 30vh;
  width: 30vw;
} */

#top-figure{
  display: flex;
  justify-content: space-between;
}

#bottom-figure{
  display: flex;
  justify-content: space-between;
}