.h1 {
    text-align: center;
    /* background:  */
    font-family: "CenturyGothic", CenturyGothic, AppleGothic, sans-serif;
    /* font-size: 4em; */
    padding: 1%;
    margin-bottom: 1%;
}

.footer {
    text-align: center;
    /* background:  */
    font-family: "CenturyGothic", CenturyGothic, AppleGothic, sans-serif;
    /* font-size: 4em; */
    padding: 1%;
    margin-bottom: 1%;
}

#pagelinks {
    text-align: center;
    /* background:  */
    font-family: "CenturyGothic", CenturyGothic, AppleGothic, sans-serif;
    /* font-size: 4em; */
    padding: 1%;
    margin-bottom: 1%;
}

#introText {
    text-align: center;
    /* background:  */
    font-family: "CenturyGothic", CenturyGothic, AppleGothic, sans-serif;
    /* font-size: 4em; */
    padding: 1%;
    margin-bottom: 1%;
}

#chose1 {
    text-align: center;
    /* background:  */
    font-family: "CenturyGothic", CenturyGothic, AppleGothic, sans-serif;
    /* font-size: 4em; */
    padding: 1%;
    margin-bottom: 1%;
}

#chose2 {
    text-align: center;
    /* background:  */
    font-family: "CenturyGothic", CenturyGothic, AppleGothic, sans-serif;
    /* font-size: 4em; */
    padding: 1%;
    margin-bottom: 1%;
}

#chose3 {
    text-align: center;
    /* background:  */
    font-family: "CenturyGothic", CenturyGothic, AppleGothic, sans-serif;
    /* font-size: 4em; */
    padding: 1%;
    margin-bottom: 1%;
}

