body {
  background: url(../img/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-repeat: no-repeat; */
  object-fit: cover; 
}

div{
  height: 75px;
  width: 100px;
}
}

#male{

}


